<%= turbo_stream_from("messages") %>

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              <th scope="col" class="px-6 py-2 text-left">Age</th>
              <th scope="col" class="px-6 py-2">Direction</th>
              <th scope="col" class="px-6 py-2">Index</th>
              <th scope="col" class="px-6 py-2">Block</th>
              <th scope="col" class="px-6 py-2">MsgHash</th>
              <th scope="col" class="px-6 py-2">Root</th>
              <th scope="col" class="px-6 py-2 text-left">From</th>
              <th scope="col" class="px-6 py-2 text-left">To</th>
              <th scope="col" class="px-6 py-2">Status</th>
              <th scope="col" class="px-6 py-2">Time Spent</th>
              <th scope="col" class="px-6 py-2"></th>
            </tr>
          </thead>
          <tbody id="messages">
            <%= render @messages %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="px-6 py-2">
  <%= paginate @messages %>
</div>
